# Backend
Backend/.gradle/
Backend/.settings/
Backend/bin/
Backend/build/
Backend/gradle/
Backend/.classpath
Backend/.project
Backend/build.gradle
Backend/gradlew
Backend/gradlew.bat
Backend/HELP.md
Backend/settings.gradle
Backend/.metadata/
Backend/src/main/resources/application-dev2.yaml
Backend/src/main/resources/application.yml
Backend/src/main/resources/static/
Backend/src/main/java/com/example/wikiproj/security/secret-key.txt
Backend/src/main/java/com/example/wikiproj/practice/

# Frontend
Frontend/node_modules/
Frontend/src/practices/